* {
  /* outline: 1px dotted orange; */
}

header {
  height: 45px;
}

header h2 {
  font-size: 27px;
  margin-bottom: 0px;
  width: 500px;
}
header img {
  float: left;
}
header h3 {
  font-size: 14px;
  margin-top: 0px;
  width: 500px;
}

nav {
  width: 901px;
  margin: 0px auto;
}

nav ul {
  float: right;
  margin-top: -50px;
}
nav li {
  display: inline-block;
}

main {
  width: 901px;
  margin: 30px auto;
}

fieldset {
  background-image: url("img/list-bg.png");
  height: 280px;
  font-family: "Patrick Hand";
  font-size: 20px;
  border: none;
}


fieldset ul {
  list-style-type: none;
  width: 300px;
  margin-top: 30px;
}

fieldset li {
  list-style-type: none;
  width: 300px;
  margin: 4px;
}

fieldset div {
  float: right;
  margin-right: 120px;
  margin-top: -234px;
}

#author{
  margin-top: 15px;
  display: inline-block;
}

#author img {
  float: left;
  margin-right: 5px;
}

#author h2 {
  font-size: 18px;
  margin: 0px;
}

.share-recipe {
  padding: 15px 30px;
  color: white;
  background-color: brown;
  float: right;
  margin-top: 35px;
}
