* {
  outline: 1px dotted orange;
}

header {
  height: 45px;
}

header h2 {
  font-size: 25px;
  margin-bottom: 0px;
  width: 500px;
  font-family: "Yellowtail";
  padding: 0px;
}
header img {
  float: left;
  margin-right: 4px;
}
header h3 {
  font-size: 11px;
  font-family: "Teko";
  margin-top: -5px;
  width: 500px;
  color: gray;
}

nav {
  width: 901px;
  margin: 0px auto;
}

nav ul {
  float: right;
  margin-top: -50px;
}
nav li {
  display: inline-block;
}

main {
  width: 901px;
  margin: 30px auto;
}

fieldset {
  background-image: url("img/list-bg.png");
  height: 280px;
  font-family: "Patrick Hand";
  font-size: 20px;
  border: none;
}


fieldset ul {
  list-style-type: none;
  width: 300px;
  margin-top: 30px;
}

fieldset li {
  list-style-type: none;
  width: 300px;
  margin: 4px;
}

fieldset div {
  float: right;
  margin-right: 120px;
  margin-top: -234px;
}


#author{
  margin-top: 15px;
  display: inline-block;
}

#author img {
  float: left;
  margin-right: 8px;
}

#author h2 {
  font-size: 18px;
  margin: 0px;
}

#author p {

}

.share-recipe {
  padding: 15px 30px;
  color: white;
  background-color: brown;
  float: right;
  margin-top: 35px;
}

#recipe {
  text-indent: 20px;
  line-height: 22px;
}

h3 button {
  float: right;
}

footer {
  width: 901px;
  text-align: center;
  margin: auto;
  font-size: 11px;
  color: lightgray;
}

h3 {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: lightgray;
  font-family: "Teko";
}

h1 {
  font-family: "Yanone Kaffeesatz";
  margin: 0px;
}
